header {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #191919;
    height: 0;
}


@media (max-width:768px) {
    .nav {
        display: flex;
        width: 100% !important;
        margin: 50px 0 !important;
        justify-content: center;
        align-items: center;
        padding: 14px 0;
        right: 0 !important;
      }
      
    #nomeJogador {
        margin-top: 4px;
    }

    .logo {
        top: 40px !important;
        left: 50% !important;
        transform: translateX(-50%);
        max-width: 210px !important;
      }

    .btnList {
        width: 30%;
    }

    .navbar {
        width: 60% !important;
    }

    .container {
      
        padding: 0 14px;
    }

    .content button {
        margin-top: 8px;
    }
    

}


.navbar {
    height: 0;
    overflow: hidden;
    transition: height 0.4s ease;
    background-color: black;
    padding-bottom: 0;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    flex-direction: column;
    width: 100%;
    display: flex;
    /* mantém a estrutura */
}


.navbar ul {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 14px;
}

.nav {
    margin-top: 20px;
    position: absolute;
    top: 20px;
    width: 250px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    right: 40px;
}

.nav-item {
    display: flex;
    height: 40PX;
    width: 110PX;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.nav-item:hover {
    display: flex;
    background-color: #285083;
    width: 110PX;
    border-radius: 8px;
}

.navbar h1 {
    margin: 0;
    font-size: 16px;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 20px;
}

li,
a {
    list-style: none;
    text-decoration: none;
    color: white;
}