html, body {
  height: 100%;
}

html {
  background-color: black;
}


body {
  background: url('https://live.staticflickr.com/65535/54430062814_4753829776_h.jpg') center center / cover no-repeat;
  margin: 0;
  padding: 0;
  font-family: "Oranienbaum", Arial, sans-serif;
  color: white;
  position: relative;
}

.logo {
  position: absolute;
  bottom: 650px;
  left: 10%;
  max-width: 150px;
  width: auto;
}

#nomeJogador {
  padding: 8px;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 40px;
  border-radius: 8px;
}

.content h2 {
  margin-bottom: 20px;
}

/* Button Styles */
button {
  background-color: #285083;
  border: none;
  padding: 10px 20px;
  margin: 0 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

button:hover {
  background-color: #1ABC9C;
}

/* Footer Styles */
footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  position: absolute;
  height: 2.5rem;
  width: 100%;
  bottom: 0
}
input {
border-radius: 8px;
border: none;
}

.pontosAdquiridos {
display: flex;
text-align: center;
align-items: center;
gap: 8px;
margin-top: 40px;
}

.pontos {
text-align: center;
  align-items: center;
  justify-content: center;
}

h3 {
padding: 0px;
margin: 0px;
text-align: center;
}
